/*

Here's a demo stylesheet used to format a menu and its content.
Feel free to alter the menu layout however you want!
All you have to do is ensure the script has the correct CSS property name
(like 'visibility' or 'display') that changes to show/hide menus.

If you want to extend this layout, one good resource for UL/LI formatting is:
    http://www.alistapart.com/articles/taminglists/
Alternatively, you can use any other CSS dropdown layout instead. More here:
    http://www.alvit.de/css-showcase/
Consult your favourite CSS reference for customising fonts/borders/etc.

Otherwise, you can just change the #RGB border/background colours where
suitable to customise for your site -- easy :).

*/



/* HORIZONTAL FREESTYLE MENU LAYOUT */


/* All <ul> tags in the menu including the first level */
.menulist, .menulist  ul {
	margin: 0;
	padding: 0;
	font-size:11px;
	list-style: none;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 12px;
	text-align: left;
}

/* Submenus (<ul> tags) are hidden and absolutely positioned downwards from their parent */
.menulist ul {
	display: none;
	position: absolute;
	top: 20px;
	margin-top: 13px; /* I'm using ems and px to allow people to zoom their font */
	left: -1px;
	width: 150px;
	text-align: left;

}

/* Second and third etc. level submenus - position across from parent instead */
.menulist ul ul {
	top: 0px;
	margin-top: 0;
	left: 153px;
	text-align: left;
	}
	

/*
 All menu items (<li> tags). 'float: left' lines them up horizontally, and they are
 positioned relatively to correctly offset submenus. Also, they have overlapping borders.
*/
.menulist li {
	float: left;
	display: block;
	position: relative;
	margin-right: -1px;
	text-align: left;
}

/* Items in submenus - override float/border/margin from above, restoring default vertical style */
.menulist ul li {
	float: none;
	margin-bottom: -1px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	
}
.menulist ul>li:last-child {
	margin-bottom: 1px; /* Mozilla fix */
}
/*.menulist ul>li:last-child a {
	background-image: url(../../images/bg_menu_last.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 10px;
}
.menulist ul>li:last-child a:hover, .menulist ul>li:last-child a.highlighted {
	background-image: url(../../images/bg_menu_last_selected.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-bottom: 10px;
}
*/




/* Links inside the menu */
.menulist a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 7px;
	padding-bottom: 9px;
	font-size: 12px;
	padding-left: 6px;
	background-image: url(../../images/bg_menu.png);
	background-repeat: no-repeat;
	background-position: -20px 0px;
}

/* Lit  items: 'hover' is mouseover, 'highlighted' are parent items to visible menus */
.menulist a:hover, .menulist a.highlighted:hover, .menulist a:focus {
	color: #FFF;
	background-image: url(../../images/bg_menu_li_selected.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.menulist a.highlighted {
	color: #FFF;
	background-image: url(../../images/bg_menu_li_selected.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

/*
 If you want per-item background images in your menu items, here's how to do it.
 1) Assign a unique ID tag to each link in your menu, like so: <a id="xyz" href="#">
 2) Copy and paste these next lines for each link you want to have an image:
    .menulist a#xyz {
      background-image: url(out.gif);
    }
    .menulist a#xyz:hover, .menulist a.highlighted#xyz, .menulist a:focus {
     background-image: url(over.gif);
    }
*/

/* Only style submenu indicators within submenus. */
.menulist a .subind {
 display: none;
}
.menulist ul a .subind {
 display: block;
 float: right;
}


/* 'Escaped Comment' hack for horizontal menubar width in IE5/Mac */
.menulist a {
 float: left;
}
.menulist ul li a, .menulist ul ul li a {
 float: none;
 background-image: url(none);
 padding-top: 5px;
 padding-bottom: 5px;
}
/* \*/
.menulist a {
 float: none;
}
/* */


/*
 HACKS: IE/Win:
 A small height on <li> and <a> tags and floating prevents gaps in menu.
 * html affects <=IE6 and *:first-child+html affects IE7.
 You may want to move these to browser-specific style sheets.
*/
*:first-child+html .menulist ul li {
 float: left;
 width: 100%;
}

* html .menulist ul li {
 float: left;
 height: 1%;
}
* html .menulist ul a {
 height: 1%;
}
/* End Hacks */

.menulist ul {
	background-image: url(../../images/bg_submenu.gif);
	background-repeat: no-repeat;
	background-position: 0px bottom;
	padding-bottom:  12px;
}
.menulist ul li:first-child a {
	background-image: url(../../images/bg_menu_first.gif);
	background-repeat: no-repeat;
	padding-top: 10px;
	background-color:#5a9d1c;
	background-position: 0px 0px;
}
.menulist ul li:first-child a:hover {
	background-image: url(../../images/bg_menu_first_hover.gif);
	background-position: 0px 0px;
}