body {
	background-image: url(../images/bg_body.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	color: #666;
	font-size: 12px;
}
.whitebg {
	background-color:#fff;
}
#nodata .ineligible, #nodata .eligible {display: none;}
#eligible .ineligible, #eligible .nodata {display: none;}
#ineligible .eligible, #ineligible .nodata {display: none;}
#eligible .eligible, #ineligible .ineligible, #nodata .nodata { display: visible;}
.sample .notice {
	width: 463px;
}
.disclaimer p {
	padding-top: 5px;
}
.disclaimer {
	padding-top: 10px;
	display:block;
	text-align:justify;
	color: #999;
}
.reason li {
	border-top: solid 1px #ccc;
	padding-top: 6px;
	padding-bottom: 6px;
}
.eldisclaimer {
	padding: 10px 0;
	height: 70px;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	overflow:auto;
	margin: 15px 0;
}
.eldisclaimer p {
	padding: 0px;
	margin: 6px 0;
}
.eldisclaimer h3 {
	color: #666
}
.loan {
	text-align:center;
	padding:20px 0;
}
.disabled .button, .not .button {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5
}
.reason ol, .reason ul {
	list-style-position: inside;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-left: 0px;
	margin-left: 0px;
}
.search select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color:#666;
	width:405px;
}
.search select:hover, .search select:focus {
	color: #0091C3;
	border: solid 1px #0091c3;
}
.trigger {
	width: 18px;
	height: 18px;
	background-image:url(../images/trigger.jpg);
	background-repeat:no-repeat;
	float: right;
	padding: 0px;
	margin: 0px;
	background-position: right 0px;
}
.datatrigger {
	width: 20px;
}
.result {
	width: 30px;
	text-align:right;
}
.ie6 .trigger, .ie7 .trigger {
	height: 16px;
}
.trigger:hover {
	background-position: right -120px;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	width: 150px;
	background:#f60;
	color:#fff;
	background-image:none;
	box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	padding: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#tooltip h3, #tooltip div {
	margin: 0;
	font-size:11px;
	font-weight:bold;
	color: #fff;
	line-height: 13px;
}
.date div, .date {
	border: 1px #F00 dashed;
}
.tour {
	width: 100%;
	height: 200px;
}
.form .field, .form .tablefix td {
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
	border-bottom: solid 1px #ccc;
	width:100%;
}
.form .label, .form .tablefix {
	font-size: 12px;
	line-height: 12px;
}
.ie6 .form .tablefix table, .ie7 .form .tablefix table {
	width: 335px;
}
.form .label, .form .tablefix td {
	font-weight: bold;
}
.form .tablefix td {
	padding-top: 5px;
}
.form .field .input, .form .tablefix input, .form .field select, .form .tablefix select {
	background-image: url(../images/bg_fields.gif);
	background-repeat: repeat-x;
	background-position: left top;
	margin-right: 5px;
	border: 1px solid #a5a6a7;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px;
	font-weight: normal;
	font-size: 12px;
	color: #666;
}
.not .field .input, .not .tablefix input, .not .field select, .not .tablefix select {
	border: 1px solid #ccc;
	color: #ccc;
}
.form .field .input, .form .tablefix input {
	width:143px;
}
.ie6 .form .field .input, .ie6 .form .tablefix input {
	width:135px;
}
#Bank2 .form .field .input {
	width:230px;
}
.form .field:hover, .form .tablefix tr:hover, .form .field:focus, .form .tablefix tr:focus {
	color: #0091C3;
}
.not .field:hover, .not .tablefix tr:hover, .not .field:focus, .not .tablefix tr:focus {
	color: #ccc;
}
.form .field:hover, .form .field:focus {
	border-bottom:1px solid #0091C3;
}
.not .field:hover, .not .field:focus {
	border-bottom:1px solid #ccc;
}
.form .tablefix .button {
	float: right;
}
.form .field select, .form .tablefix select {
	width:150px;
}
.ie6 .form .field select, .ie6 .form .tablefix select {
	width:145px;
}
.form .field:hover .input, .form .tablefix tr:hover input, .form .tablefix tr:hover select, .form .field .input:focus, .form .field select:focus, .form .tablefix tr input:focus, .form .tablefix tr select:focus {
	color: #0091C3;
	border-color:#0091C3;
}
.not .field:hover .input, .not .tablefix tr:hover input, .not .tablefix tr:hover select, .not .field .input:focus, .not .field select:focus, .not .tablefix tr input:focus, .not .tablefix tr select:focus {
	color: #ccc;
	border-color:#ccc;
}
.notIE .form .field:hover select {
	color: #0091C3;
	border-color:#0091C3;
}
.graph {
	border-top: 1px solid #0091C3;
	display: block;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 10px;
	padding-left: 0;
}
.graph h3 {
	padding-bottom: 10px;
}
.botline {
	border-bottom: 1px solid #0091C3;
	margin-bottom: 10px;
}
.topline {
	border-top: 1px solid #0091C3;
	padding-top: 10px;
}
.faq h3 {
	border-top: 1px solid #0091C3;
	padding: 10px 0;
}
.faq h3, .faq p {
	width: 98%;
}
.complete {
	width: 100%;
	height: 330px;
	margin-top: 10px;
}
.sliderwrapper .contentdiv h2 {
	border-bottom: 1px solid #0091C3;
	padding-bottom: 10px; 
}
a {
	color: #0091C3;
}
a:hover {
	color: #00587d;
}
a:active {
	color: #F60;
}
h1, h2, h3 {
	color: #0091C3;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	padding: 0px;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
.ie6 .title {
	margin: 20px 0 10px 0;
}
div.colborder {
	border-right:1px solid #0091C3;
}
.eligibility .top {
	background-image:url(../images/bg_box_top.jpg);
	background-repeat: no-repeat;
	padding: 20px 30px 5px 30px;
	margin: 0px;
}
.eligibility .middle {
	background-image:url(../images/bg_box_middle.jpg);
	background-repeat: no-repeat;
	padding: 0px 30px;
	margin: 0px;
}
.eligibility .bottom {
	background-image:url(../images/bg_box_bottom.jpg);
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	height: 10px;
	width: 230px;
}
.eligibility .top h2 {
	border-bottom: 1px solid #0091C3;
	margin: 0px;
}
a.button, a.button:visited {
	background: #222 url(../images/alert-overlay.png) repeat-x;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	background-color: #0091C3;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 14px;
	margin: 0 10px 10px 0;
}
span.button, span.button:visited {
	background: #222 url(../images/alert-overlay.png) repeat-x;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	background-color: #90cfe5;
	font-size: 14px;
	font-weight: bold;
	padding: 7px 14px;
	margin: 0 10px 10px 0;
}
.right .button, .right .button:visited {
	margin: 0 0 0 10px;
}
#Bank2 h3 { 
padding-top: 65px;
padding-bottom: 40px;
background-image:url(../images/diamond.gif);
background-repeat: no-repeat;
background-position: center 10px;
}
table.loading {
	width: 100%;
	height:20px;
}
#Bank2 {height: 230px;}
table.loading td {
	background-image:url(../images/bg_loading.jpg);
	background-repeat:repeat-x;
	background-position:bottom left;
	background-color:#ccc;
	border-radius-bottomright: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-radius-topright: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
}
table.loading td.completed2 {
	background-image:url(../images/bg_tabledata.gif);
	background-repeat:repeat-x;
	background-position:bottom left;
	background-color:#50abe0;
	border-radius-bottomright: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-radius-topright: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
}
table.loading td.completed {
	background-image:url(../images/bg_tabledata.gif);
	background-repeat:repeat-x;
	background-position:bottom left;
	background-color:#50abe0;
	border-radius-bottomleft: 15px;
	-moz-border-radius-bottomleft: 15px;
	-webkit-border-bottom-left-radius: 15px;
	border-radius-topleft: 15px;
	-moz-border-radius-topleft: 15px;
	-webkit-border-top-left-radius: 15px;
	border-radius-bottomright: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-radius-topright: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
}
.pagination {
	display:none;
}
.contentdiv h3 {
	margin: 30px 0 50px 0;
}
a.button:hover {
	background-color: #00587d;
	color: #fff;
}
a.button:active {
	background-color: #F60;
	top: 1px;
}
a.button, a.button:visited {
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
a.button2, a.button2:visited {
	background-color: #f60;
}
a.button2:hover {
	background-color: #F90;
}
.button2:active {
	background-color: #FC0;
}
.list ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.list li a {
	color: #0091C3;
}
.list li {
	padding-bottom: 5px;
}
.list li a:hover {
	color: #F60;
}
.search input {
	background-image: url(../images/bg_search.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border: 1px solid #a5a6a7;
	font-family: Arial, Helvetica, sans-serif;
	padding: 4px 3px 4px 20px;
	font-size: 12px;
	color: #999;
	width:405px;
}
.search {
	margin-bottom: 10px;
}
.search input:hover, .search input:focus {
	background-image: url(../images/bg_search_hover.gif);
	color: #0091C3;
	border:1px solid #0091C3;
}
.owner h2 {
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0091c3;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.option:hover {
	color: #0091c3;
	border-bottom: 1px solid #0091c3;
}
.option {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.form .checkbox {
	height: 15px;
	width: 15px;
	margin-top:3px;
	background-image:none;
}
.eligibility ol li {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	padding-top: 2px;
	padding-bottom: 2px;
}
.eligibility ol {
	list-style-position: inside;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
.ie6 a.button, .ie6 a.button:visited, .ie7 a.button, .ie7 a.button:visited {
	background-color: #fafafa;
	background-image:url(../images/bg_button.gif);
	padding-bottom: 15px;
	background-position: left 0px;
}
.ie6 span.button, .ie6 span.button:visited, .ie7 span.button, .ie7 span.button:visited {
	background-color: #fafafa;
	background-image:url(../images/bg_button_disabled.gif);
	padding-bottom: 15px;
	background-position: left 0px;
}
.ie6 a.button:hover, .ie7 a.button:hover {
	background-color: #fafafa;
	background-image:url(../images/bg_button.gif);
	background-position: left -44px;
}
.ie6 a.button:active, .ie7 a.button:active {
	background-color: #fafafa;
	background-image:url(../images/bg_button.gif);
	background-position: left -89px;
}
.ie6 .button2, .ie6 .button2:visited, .ie7 .button2, .ie7 .button2:visited {
	background-color: #fafafa;
	background-image:url(../images/bg_button2.gif);
	padding-bottom: 15px;
	background-position: left 0px;
}
.ie6 .button2:hover, .ie7 .button2:hover {
	background-color: #fafafa;
	background-image:url(../images/bg_button2.gif);
	background-position: left -44px;
}
.ie6 .button2:active, .ie7 .button2:active {
	background-color: #fafafa;
	background-image:url(../images/bg_button2.gif);
	background-position: left -89px;
}
.ie6 .content {
	padding-top: 10px;
}
#Bank .scroll {
	height: 330px;
	margin-bottom: 10px;
}
.readonly, .noaccess, .encrypted, .banklevel, .details {
	padding: 6px 0;
}
.readonly span, .noaccess span, .encrypted span, .banklevel span, .details span {
	float: left;
	width: 50px;
	height: 40px;
	margin-right: 10px;
	margin-top: 3px;
	background-repeat:no-repeat;
}
.readonly span {
	background-image:url(../images/icons/readonly.gif);
}
.noaccess span {
	background-image:url(../images/icons/noaccess.gif);
}
.encrypted span {
	background-image:url(../images/icons/encrypted.gif);
}
.banklevel span {
	background-image:url(../images/icons/banklevel.gif);
}
.details span {
	background-image:url(../images/icons/details.gif);
}
.data td {
	border-bottom: 1px solid #ccc;
	vertical-align:text-top;
	padding: 5px 0;
}
.data strong {
	padding: 0px;
	margin: 0px
}
.data .header td {
	background-image:url(../images/bg_tabledata.gif);
	background-repeat:repeat-x;
	background-position:bottom left;
	background-color:#50abe0;
	font-weight: bold;
	color: #FFF;
	border-style:none;
}
.data {
	width:  100%;
}
.scroll {
	overflow:auto;
}
.desc {
	width:  485px;
}
.data .chart {
	height: 130px;
	border-bottom-style: none;
	background-repeat:no-repeat;
	background-position: -2px top;
}
.data .cashin {
	font-weight: bold;
	color: #0091C3;
}
.data .cashout {
	font-weight: bold;
	color: #ff6600;
}
.data .up, .data .down {
	background-repeat:no-repeat;
	background-position: 3px center;
	padding-left: 17px;
}
.data .up {
	background-image:url(../images/bg_up.gif);
}
.data .positive {
	color:#17b417;
	font-weight:bold;
}
.data .down {
	background-image:url(../images/bg_down.gif);
}
.data .negative {
	color:#ff0000;
	font-weight:bold;
}
.data .neutral {
	color:#F60;
	font-weight:bold;
}
a.small {
	color: #eee;
}
.faq {
	height: 400px;
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 20px 0 10px 0;
}
.amount {
	background-image: url(../images/icons/amount.jpg);
}
.results {
	background-image: url(../images/icons/results.jpg);
}
.speed {
	background-image: url(../images/icons/speed.jpg);
}
.prequal {
	background-image: url(../images/icons/prequal.jpg);
	padding-bottom: 15px;
}
.flow {
	background-image: url(../images/icons/flow.jpg);
}
.online {
	background-image: url(../images/icons/online.jpg);
}
.lower {
	background-image: url(../images/icons/lower.jpg);
}
.report {
	background-image: url(../images/icons/report.jpg);
}
.starter {
	padding: 0 0 5px 0;
	color: #666;
	font-weight: normal;
}
.safe ul {
	list-style-type: none;
	margin: 0px;
	padding: 0 10px;
}
.safe ul li {
	margin: 5px 0px;
	border-top: 1px solid #CCC;
}
.safe p, .safe h3 {
	margin:10px;
}
.safe {
	background-color:#FFC;
	padding-bottom: 5px;
}
.loading {
	background-image:url(../images/loading2.gif);
	background-repeat: no-repeat;
	background-position: center middle;
	background-color: #fff;
}
.ie6 .label.fix {
	font-size: 10px;
}
/* CSS Document */

#wrapper {
	width:902px;
	margin:0 auto;
	text-align:left;
}
#footer td {
	vertical-align:top;
	font-size:12px;
	line-height:1.5em;
	padding-right:10px;
}
/*======================================= HEADER =======================================
=======================================================================================*/
#header {
	height:113px;
}
#logo {
	margin:40px 28px 0 0;
	float:left;
}
#header-right {
	float:right;
	width:360px;
	height:53px;
	text-align:right;
	margin:11px 4px 0 0;
}
#tagline {
	position:absolute;
	top:40px;
}
#call-us {
	float:right;
	margin:7px 0 0 0;
}
#apply-now {
	margin:0 0 0 17px;
	float:right;
}
#login-c {
	float:right;
	margin:11px 0 0 0;
}
#login-p {
	clear:both;
	float:right;
	margin:11px 10px 0 0;
}
#counter {
	background: url(../images/header/counter.gif) no-repeat top left;
	height: 72px;
	width: 238px;
	margin-top:14px;
}
#counter-inner {
	padding:10px 10px 0 60px;
	text-align: right;
	line-height:24px;
	font-size:24px;
	color:#156898;
}
#counter-inner table td {
	vertical-align:bottom;
	font-size:24px;
	color:#156898;
}
#counter-inner table td img {
	margin-bottom:7px;
}
/*======================================= TOP NAV =======================================
=======================================================================================*/
#top-navigation-wrapper {
	background: url(../images/header/top-navigation-gradient.png) repeat-x bottom;
	height:31px;
	width:696px;
	float:right;
	clear: right;
	margin:8px 4px 0 0;
}
#top-navigation-wrapper2 {
	background: url(../images/header/top-navigation-corner-right.png) right top no-repeat;
	height:31px;
	width:696px;
}
#top-navigation-wrapper3 {
	background: url(../images/header/top-navigation-corner-left.png) left top no-repeat;
	height:31px;
	width:686px;
	padding-left:10px;
}
#top-navigation-wrapper .menu {
	margin:0;
	padding:0;
}
#top-navigation-wrapper .menu li {
	list-style:none;
	float:left;
	margin:0;
	padding:0;
}
#top-navigation-wrapper .menu li a {
	display:block;
	height:31px;
	margin:0 12px;
	text-indent:-9999px;
	background:no-repeat top center;
}
#top-navigation-wrapper .menu li a:hover {
	background-position:center;
	background-repeat:no-repeat;
}
#top-navigation-wrapper .menu li#current a, #top-navigation-wrapper .menu li.active a {
	background-position:bottom;
	background-repeat:no-repeat;
}
#top-navigation-wrapper .menu li a:focus {
	outline:none;
}
#top-navigation-wrapper .menu li.item1 a {
	background-image: url(../images/header/top-nav-1.png);
	width: 37px;
}
#top-navigation-wrapper .menu li.item2 a {
	background-image: url(../images/header/top-nav-2.png);
	width: 68px;
}
#top-navigation-wrapper .menu li.item3 a {
	background-image: url(../images/header/top-nav-3.png);
	width: 98px;
}
#top-navigation-wrapper .menu li.item12 a {
	background-image: url(../images/header/top-nav-4.png);
	width: 95px;
}
#top-navigation-wrapper .menu li.item13 a {
	background-image: url(../images/header/top-nav-5.png);
	width: 53px;
}
#top-navigation-wrapper .menu li.item4 a {
	background-image: url(../images/header/top-nav-6.png);
	width: 80px;
}
#top-navigation-wrapper .menu li.item14 a {
	background-image: url(../images/header/top-nav-7.png);
	width: 71px;
}
/*===================================== mainfooter =========================================
=======================================================================================*/
#footer {
	background: url(../images/header/top-gradient.png) repeat-x top;
	padding:0 0 50px 0;
	margin:14px 4px 0 4px;
	text-align:center;
	font-family:Lucida Sans Unicode, Lucida Grande, Tahoma, sans-serif;
}
#footer-top {
	height: 44px;
	color:#FFFFFF;
}
#footer-top a:link, #footer-top a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
#footer-top a:hover {
	text-decoration:underline;
}
#footer-round-l {
	background: url(../images/header/round-corner-left.png) no-repeat left top;
}
#footer-round-r {
	background: url(../images/header/round-corner-right.png) no-repeat right top;
}
#footer-top p {
	margin:0;
	padding:13px 0 0 0;
}
#footer table {
	margin:20px auto;
	text-align:left;
	border-collapse:collapse;
	border-spacing:0;
}
#footer table td {
	padding:0 10px 0 11px;
	font-size:11px;
}
#footer table a:link, #footer table a:visited {
	color:#6699cc;
	text-decoration:none;
}
#footer table a:hover {
	text-decoration:underline;
}
#footer table strong {
	color:#34669b;
	font-size:13px;
}
.ie6 .form .field .day, .ie6 .form .field .month {
	margin-right: 4px;
}
.ie6 .form .field .day {
	width: 40px;
}
.ie6 .form .field .month {
	width: 50px;
}
.ie6 .form .field .year {
	width: 39px;
}
.options {
	padding: 0px;
	width: 240px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCC;
	list-style-type: none;
}
.options li {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	padding-top: 3px;
	padding-bottom: 3px;
}
.options input {
	margin-right: 10px;
}
{
 background-image: url(../images/box_top.jpg);
 background-repeat: no-repeat;
 background-position: right top;
 height: 100px;
}
.first {
	height: 100px;
	background-image: url(../images/box_top.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.boxbottom {
	height: 100px;
	background-image: url(../images/box_bottom.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.boxbottom .first {
	height: 10px;
	background-image: url(../images/box_bottom.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.span-13 .mini {
	font-size: 10px;
	padding-top: 10px;
}
#nextstep {
	height: 300px;
}
#nextstep table {
	height: 250px;
	background-color:#d6ebcb;
	margin-top: 10px;
}
#nextstep td {
	padding: 10px 45px 10px 10px;
	background-image:url(../images/bg_nextstep.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	vertical-align: text-top;
	width: 200px;
}
#nextstep td.laststep {
	padding: 10px;
	background: none;
}
#nextstep .middle {
	width: 640px;
	padding-right: 30px;
}
.data .badge_neu, .data .badge_neg, .data .badge_pos {
	background-image:url(../images/badge_neu.gif);
	background-repeat: no-repeat;
	background-position: center 5px;
	text-align: center;
	width: 70px;
	padding: 0 0 0 5px;
	height: 35px;
	font-weight:bold;
	color: #fff;
}
.ie6 .data .badge_neu, .ie6 .data .badge_neg, .ie6 .data .badge_pos {
	padding-top: 5px;
}
.legend .badge_neu, .legend .badge_neg, .legend .badge_pos {
	background-image:url(../images/badge_neu.gif);
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	padding: 0 4px;
	position: static;
	margin: 0 5px;
}
.legend {
	height: 20px;
}
.data .badge_neu span, .data .badge_neg span, .data .badge_pos span {
	position: relative;
	top: 6px;
}
.data .badge_neg, .legend .badge_neg {
	background-image:url(../images/badge_neg.gif);
}
.data .badge_pos, .legend .badge_pos {
	background-image:url(../images/badge_pos.gif);
}
.sample .data .badge_neu, .sample .legend .badge_neu {
	background-image:url(../images/badge_neu_sample.gif);
}
.sample .data .badge_neg, .sample .legend .badge_neg {
	background-image:url(../images/badge_neg_sample.gif);
}
.sample .data .badge_pos, .sample .legend .badge_pos {
	background-image:url(../images/badge_pos_sample.gif);
}
.sample {
	background-image:url(../images/bg_sample.gif);
}
.panel .mini {
	padding:0;
	margin: 0;
}
.reason p {
	margin-left: 0;
	margin-right: 0;
}
.reason .button {
	margin-left: 60px;
}
.met {
	background-image: url(../images/bg_met.gif);
	background-repeat:no-repeat;
	background-position: 20px top;
}
.not {
	background-image: url(../images/bg_not.gif);
	color: #ccc;
}
.not h1, .not h2, .not h3 {
	color: #ccc;
}
.box {
	background:#fff;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 20px;
	margin-top: 5px;
	padding-bottom: 20px;
}
.minibox {
	background-color: #fff;
	border: solid 1px #ccc;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin-bottom: 20px;
}
.logo {
	background-image:url(../images/logo.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 30px;
}
.entice a.button2 {
	margin-left:33px;
}
.cover .button2 {
	margin-left:90px;
	margin-top: 0;
}
.ie6 .box, .ie7 .box, .ie8 .box {
	background: none;
	background-image:url(../images/bg_box.gif);
	background-repeat:no-repeat;
	background-position: left top;
}
.cover, .ie6 .cover, .ie7 .cover, .ie8 .cover {
	background-image:url(../images/bg_cover.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.content_header {
	background-image:url(../images/bg_content_header.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
	margin-bottom: 15px;
}
.ie7 .content_header, .ie6 .content_header {
	background-position: left -18px;
}
.navmenu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 30px;
}
.navmenu {
	margin: 0;
	padding: 0;
	vertical-align: bottom;
}
.navmenu ul li {
	float: left;
	font-size: 12px;
	text-align: left;
	line-height: 30px;
	border-right: solid 1px #0091c3;
	display: block;
	padding: 0 10px;
	font-weight: bold;
}
.navmenu a {
	color: #0091c3;
	text-decoration: none;
}
.navmenu li.disabled a {
	color: #CCC;
	font-weight: normal;
	font-style:italic;
}
.navmenu li.disabled a:hover {
	color: #CCC;
}
.navmenu .logout {
	font-size: 11px;
	padding: 0 10px;
	text-decoration: underline;
	border: none;
	font-weight: normal;
	border: none;
}
.navmenu .logout a {
	text-decoration: underline;
	color: #999;
}
.navmenu li a:hover {
	color: #ff6600;
}
.navmenu .current a:hover {
	color: #0091c3;
}
.navmenu .current {
	background: #fff;
	font-weight: bold;
	font-size:18px;
	padding: 0 15px;
}
.navmenu .current a {
	color: #0091c3;
}
.bulletoptions {
	border-top: solid 1px #ccc;
	padding-top: 0px;
	margin: 10px 0;
}
.bulletoptions li {
	padding: 14px 0px 14px 45px;
	color: #0091c3;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
	background-position: left center;
	background-repeat:no-repeat;
}
.contentdiv h3 {
	background-image:url(../images/diamond.gif);
	background-repeat:no-repeat;
	background-position: center top;
	padding: 35px 0 10px 0;
	margin: 0 0 40px 0;
}
.results {
	background-repeat:no-repeat;
	padding-left: 30px;
	background-position: 0 8px;
}
.success .good {
	background-image:url(../images/icons/good_a.gif);
}
.error .poor {
	background-image:url(../images/icons/poor_a.gif);
}
.success .fair {
	background-image:url(../images/icons/fair_a.gif);
}
.notice .neutral {
	background-image:url(../images/icons/neutral_a.gif);
}
.desc {
	width:  450px;
	background-position: left top;
	background-repeat:no-repeat;
	padding-left:35px;
}
#results {
	width: 100%;
}
#results .good {
	background-image:url(../images/icons/good_b.gif);
}
#results .poor {
	background-image:url(../images/icons/poor_b.gif);
}
#results .fair {
	background-image:url(../images/icons/fair_b.gif);
}
#results .neutral {
	background-image:url(../images/icons/neutral_b.gif);
}
.quote {
	background-image:url(../images/bg_quote.gif);
	background-repeat:no-repeat;
	background-position: 458px 10px;
}
.ie6 .quote, .ie7 .quote {
	background-position: 458px 12px;
}
.quote .number {
	color: #fff;
	margin-left: 8px;
}
.next div {
	padding: 10px;
	background: none;
	width: 170px;
	height: 280px;
	float: left;
	background-color:#d6ebcb;
	margin: 10px 0;
	background-image:url(../images/bg_nextstep.jpg);
	background-repeat: no-repeat;
	background-position: -50px center;
}
.next a, .next h2, .next h3, .next p {
	color:#666;
}
.next h3 {
	margin: 35px 0 15px 0;
	font-size: 15px;
	box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
	padding: 7px 7px 7px 33px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	width: 100px;
	background-image:url(../images/icons/prequal.jpg);
	background-repeat:no-repeat;
	background-color: #fdfdfd;
	background-position: -10px 2px;
}
.slide-1 h3 {
	margin: 10px 0 15px 0;
}
.ie6 .next h3 {
	border: solid 1px #999;
}
.ie6 .next h3, .ie7 .next h3 {
	margin-bottom: 3px;
}
.next h2 {
	line-height: 25px;
	margin: 0;
	width: 150px;
}
.next div.arrow {
	padding: 10px 45px 10px 10px;
	background-position: right center;
}
.next ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	border-bottom: solid 1px #bed1b5;
}
.next a {
	text-decoration:none;
}
.next p, .next li {
	font-size: 11px;
}
.next li {
	display:block;
	border-top: solid 1px #bed1b5;
	padding: 3px 0;
	font-weight: bold;
}
.next p {
	height: 90px;
}
.slide-1 p {
	height: 113px;
}
.next .trigger2 {
	background-image:url(../images/trigger_next.gif);
	background-repeat: no-repeat;
	background-position: right 4px;
}
.next .trigger2:hover {
	background-position: right -116px;
}
#Bank1 .input {
	width:100%
}
.form .field .inputDate {
	width: 110px;
}
#results, #results #personal, #results #business, #results #cashflow, #results #snapshot {
	border: none;
	padding: none;
	margin: none;
}
.lock .trigger {
	background: none;
	padding: 0;
	margin: 0;
}
