#menu { z-index: 100; }
 
.drawers-wrapper { position: relative; width: 230px; }
 
FIELDSET { border: 1px solid #ccc; margin: 0; padding: 1em; }
 
UL.drawers { margin: 0; }
 
a { color:#222; }
	a:hover { color:#F93; }
		a:hover #logo { background-position: -2px -6px; }
	a:active, a:focus { outline: 0; }
 
#accordion { background-color:#FFFFFF; color:#000000; font-size:11px; height:400px; line-height:1.3em; list-style-type:none; margin:0; padding:0; width:230px; }
	#accordion ul { border-left:1px solid #E5E5E5; border-right:1px solid #E5E5E5; height:370px; margin:0; overflow: hidden; padding:0; padding:0 15px 0 15px; }
	#accordion li { list-style-type:none; text-align: left; }
		#accordion li.lastitem li { margin-bottom:-4px; }
		#accordion li.lastitem ul { background-image:url(../images/accordion/ha-footer.jpg); background-position:bottom; background-repeat:no-repeat; padding-bottom:4px; }
		#accordion li.firstitem a.closed { background-image:url(../images/accordion/ha-header-first.jpg) !important; color:#000000 !important; }
		#accordion li.lastitem a.closed { background-image:url(../images/accordion/ha-header-last.jpg) !important; color:#000000 !important; }
		#accordion li.firstitem a.opened { background-image:url(../images/accordion/ha-header-first-active.jpg); color:#FFFFFF; }
		#accordion li li { border-bottom:1px solid #E5E5E5; padding: 7px 0 7px 0; }
			#accordion li li a { background-image:url(none); color:#000000; color:#666666; display:block; text-decoration:none; }
		#accordion li a:hover { color:#F93; text-decoration:underline; }
		#accordion li a.opened { background-image:url(../images/accordion/ha-header-active.jpg); color:#FFFFFF; }
			#accordion li a.opened:hover { color:#FFFFFF; }
		#accordion li a.closed { background-image:url(../images/accordion/ha-header.jpg) !important; color:#000000 !important; }
	#accordion a.title { background-image:url(../images/accordion/ha-header.jpg); color:#000000; display:block; font-weight: bold; height:23px; padding-bottom: 0; padding-left: 13px; padding-right: 0; padding-top: 7px; text-align: left; text-decoration: none; width:217px; }
		#accordion a.title:hover { color: #000; text-decoration: none; }
 
body { font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; margin: 10px; padding: 0; }
 
.boxcap { background:transparent url(../images/capbottom.png) no-repeat scroll 0%; height:5px; left:0pt; margin-top:-5px; position:absolute; width:100%; }
 
.captop { background-image:url(../images/captop.png); bottom:auto; margin-top:0; top:0pt; }
 
.clear { clear:both; }
 
#docs { margin: 20px 0; padding: 0; }
	#docs li:first-child { border-top: solid 1px #b2b2b2; }
	#docs li a { background-image:url(../images/bg_li.gif); background-position: right bottom; background-repeat: no-repeat; border-bottom: solid 1px #b2b2b2; color: black; display: block; margin: 0 3px 0 0; padding: 3px 20px 3px 5px; text-decoration: none; }
		#docs li a.selected { background-color: #e6a152; background-image:url(../images/bg_li_selected.gif); font-weight: bold; }
		#docs li a:hover { background-color: #e3c3a1; background-image:url(../images/bg_li_hover.gif); }
	#docs li h2 { margin: 0px; padding: 0px; }
 
.drawer { background:transparent url(none) repeat-y scroll 0pt; color:#76797C; font-size:11px; line-height:1.3em; }
	.drawer UL { padding-bottom:0pt; }
	.drawer li { border-bottom:1px solid #E5E5E5; line-height:16px; padding:6px 0pt; }
		.drawer li a { display: block; }
			.drawer li a:hover { color:#F93; }
	.drawer ul { height: 400px; }
 
.drawer-content LI A { display:block; overflow:hidden; }
 
.drawer-content UL { padding-top: 7px; }
 
.drawer-handle { background:#939393 url(../images/handlebg.png) no-repeat scroll 0pt; color:#333333; cursor:default; font-size:12px; font-weight:bold; height:25px; line-height:25px; margin-bottom:0pt; text-indent:15px; width:100%; }
	.drawer-handle.open { background-color:#72839D; background-position:-230px 0pt; color:#FFFFFF; }
 
.drawers { color:#76797C; font-size:11px; line-height: 18px; margin-bottom:15px; }
	.drawers A { color:#666666; font-size-adjust:none; font-style:normal; font-variant:normal; font-weight:normal; text-decoration:none; }
 
.emanual #docs li:first-child { border-top: none; }
 
.emanual p, .emanual h3 { margin: 10px 0; }
 
.emanual ul#docs { margin-top: 0; }
 
#footer { padding-bottom: 10px; }
	#footer a { color: #999; }
		#footer a:hover { color:#F93; }
	#footer ul { color: #999; font-size:10px; padding: 0; text-align:center; }
	#footer li { display: inline; padding-right: 15px; position: relative; }
 
form { margin: 0px; padding: 0px; text-align: left; }
 
h3 { padding-left: 5px; padding-right: 5px; }
 
#header { background-color:#FFFFFF; padding: 10px 0 0 0; }
	#header #menu { background-image: url(../images/bg_menu.png); background-repeat: no-repeat; height: 31px; margin-bottom: 10px; margin-top: 10px; padding-left: 10px; padding-right: 10px; width: 100%; }
	#header hr { margin: 0px; padding: 0px; }
 
.hours { color:#666666; font-size: 10px; padding-left: 5px; padding-right: 5px; }
	.hours td { border-top-color: #999999; border-top-style: solid; border-top-width: 1px; }
	.hours tr:hover { background-color: #eee; color:#333333; }
	
	.table { padding-left: 5px; font-size: 11px; padding-right: 5px; width: 670px; }
	.ie6 .table, .ie7 .table { width: 660px;
 }
	.table td { border-top-color: #999999; border-top-style: solid; border-top-width: 1px; }
	.table tr:hover { background-color: #eee; color:#333333; }
	.table .title, .table .head { font-weight: bold; font-size: 13px;}
	.table .head:hover { background-color: #fff; }
 
img { -ms-interpolation-mode: bicubic; }
	img.right { float: right; padding-left: 10px; }
	img.left { float: left; padding-right: 10px; }
 
.lang { float: right; height: 20px; margin-bottom: 10px; margin-left: 10px; margin-top: 5px; width: 20px; }
	.lang a { background-image: url(../images/bg_lang.gif); background-position: 0px 0px; background-repeat: no-repeat; display: block; height: 20px; width: 20px; }
		.lang a:hover { background-image: url(../images/bg_lang.gif); background-position: 0px -20px; }
 
#logo { background-image: url(../images/logo.png); background-position: -3px -7px; background-repeat: no-repeat; height: 43px; width: 310px; }

.main { margin:0 auto; width:940px; }
 
.sig { color: #666666; font-size: 10px; font-style: italic; }
 
.submenu { border-bottom-color: #CCCCCC; border-bottom-style: solid; border-bottom-width: 1px; margin: 0px; padding: 0px; width: 300px; }
	.submenu li a { border-top-color: #CCCCCC; border-top-style: solid; border-top-width: 1px; display: block; padding-bottom: 3px; padding-left: 3px; padding-right: 20px; padding-top: 3px; text-decoration: none; }
		.submenu li a:hover { background-image: url(../images/bg_li.gif); background-position: right center; background-repeat: no-repeat; text-decoration: underline; }
 
#tooltip {
	position: absolute;
	z-index: 3000;
	width: 200px;
	font-size:10px;
	color:#222;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-image: none;
	background-color: #ff9933;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 10px;
	line-height: 100%;
		box-shadow: 1px 1px 6px #000;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,1);
	box-shadow: 0 1px 3px rgba(0,0,0,1);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#tooltip h3, #tooltip div { margin: 0; 
	font-size:10px; }
 
ul#docs, ul.submenu { list-style: none; padding: 0; }
 
.whitebg2 { background-color: #FFFFFF; border-bottom: solid 1px #b2b2b2; height: 40px; height:60px; }
 
 
 .form .field { border-top: 1px #ccc solid; padding: 5px 0; }
  .form input, .form select { width: 90%; padding: 2px; font-family:Arial, Helvetica, sans-serif; font-size: 12px; }

#warningText
{
	font-size: 90%;
	color: #f00;
}